<% if comments.count != 0 %>
  <% comments.each do |comment| %>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <%= link_to "/users/#{comment.user.id}" do %>
          <p class="image is-48x48">
            <% if comment.user.avatar.attached? %>
              <%= image_tag comment.user.avatar, class: "is-rounded" %>
            <% elsif comment.user.image %>
              <%= image_tag comment.user.image, class: "is-rounded" %>
            <% else %>
              <img src="/avatar.png" class="is-rounded">
            <% end %>
          </p>
        <% end %>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(comment.user.name, "/users/#{comment.user.id}", class: "has-text-black") %></strong>
            <br>
            <%= simple_format(text_url_to_link(h(comment.content)).html_safe) %>
          </p>
          <time><%= @post.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H時%M分") %></time>
        </div>

        <% if comment.user == @current_user %>
          <%= link_to "削除", "/posts/#{comment.post.id}/comments/#{comment.id}", method: :delete, remote: true, class: "has-text-danger" %>
        <% end %>
      </div>
    </article>
  </div>

  <% end %>
<% else %>
  <p>現在コメントはありません</p>
<% end %>