<div class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box">
      <p class="is-size-3 margin-bottom-3">ユーザー情報の編集</p>
      <% @user.errors.full_messages.each do |message| %>
        <div class="has-text-danger">
          <%= message %>
        </div>
      <% end %>
      <%= form_with model: @user, url: "/users/#{@user.id}", method: :put, local: true do |form| %>
        <div class="field">
          <%= form.label :name, "ユーザー名", class: "label" %>
          <div class="control">
            <%= form.text_field :name, value: @user.name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :email, "メールアドレス", class: "label" %>
          <div class="control">
            <%= form.text_field :email, value: @user.email, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :intro, "自己紹介文", class: "label" %>
          <div class="control">
            <%= form.text_area :intro, value: @user.intro, class: "textarea", rows: "2", placeholder: "自己紹介文を入力する",id: "input-text" %>
          </div>
        </div>
        <%# 文字数カウント %>
        <p id="counter"></p>

          <div class="field">
            <%= form.label :avatar, "プロフィール画像(任意)", class: "label" %>
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <%= form.file_field :avatar, class: "file-input", id: :book_img %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      ファイルを選択
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <%# 画像プレビュー機能あり 1101 img_prevをidからclassに変え、複数つけた %>
          <figure class="image is-96x96">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "img_prev", id: "" %>
            <% elsif @user.image %>
              <%= image_tag @user.image, class: "img_prev" %>
            <% else %>
              <img src="/avatar.png" class="img_prev">
            <% end %>
          </figure>

        <div class="field">
          <div class="control">
            <%= form.submit "保存", class: "button is-info margin-top-5" %>
          </div>
        </div>

      <% end %>

    </div>
    </div>
  </div>
</div>

<script>
</script>
