<div class="has-text-centered">
  <figure class="image is-128x128 margin-x-auto">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
  <h2 class="is-size-4 has-text-weight-bold"><%= @user.name %></h2>
  <p><%= @user.email %></p>
  <% if @user.id == @current_user.id %>
    <%= link_to("編集", "/users/#{@user.id}/edit", class: "has-text-grey") %>
  <% end %>

  <%# フォロー ajax %>
  <div id="follows_buttons_<%= @user.id %>">
    <%= render partial: "relationships/follow", locals: { user: @user } %>
  </div>

  <div class="tabs is-centered is-boxed">
    <ul>
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー一覧", "/users/#{@user.id}/follows") %></li>
      <li class="is-active"><%= link_to("フォロワー一覧", "/users/#{@user.id}/followers") %></li>
    </ul>
  </div>

  <% @followers.each do |follower| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-96x96">
          <% if follower.avatar.attached? %>
            <%= image_tag follower.avatar, class: "is-rounded" %>
          <% else %>
            <img src="/blue_egg.jpg" class="is-rounded">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(follower.name, "/users/#{follower.id}", class: "has-text-black") %></strong>
          </p>
        </div>

        <%# フォロー ajax %>
        <div id="follows_buttons_<%= follower.id %>">
          <%= render partial: "relationships/follow", locals: { user: follower } %>
        </div>

      </div>
    </article>
  <% end %>
</div>