<div class="has-text-centered">
  <figure class="image is-128x128 margin-x-auto">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
  <h2 class="is-size-4 has-text-weight-bold"><%= @user.name %></h2>
  <p><%= @user.email %></p>
  <% if @user.id == @current_user.id %>
    <%= link_to("編集", "/users/#{@user.id}/edit", class: "has-text-grey") %>
  <% end %>

  <% if @current_user != @user %>
    <% if @user.followed_by?(@current_user) %>
      <p><%= link_to "フォロー済み", "/users/#{@user.id}/relationships/destroy", {method: :post} %></p>
    <% else %>
      <p><%= link_to "フォローする", "/users/#{@user.id}/relationships/create", {method: :post} %></p>
    <% end %>
  <% end %>

  <div class="tabs is-centered is-boxed">
    <ul>
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー一覧", "/users/#{@user.id}/follows") %></li>
      <li class="is-active"><%= link_to("フォロワー一覧", "/users/#{@user.id}/followers") %></li>
    </ul>
  </div>

  <% @followers.each do |follower| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-96x96">
          <img src="/blue_egg.jpg" class="is-rounded">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(follower.name, "/users/#{follower.id}", class: "has-text-black") %></strong>
          </p>
        </div>

        <% if @current_user != follower %>
          <% if follower.followed_by?(@current_user) %>
            <p><%= link_to "フォロー済み", "/users/#{follower.id}/relationships/destroy", {method: :post} %></p>
          <% else %>
            <p><%= link_to "フォローする", "/users/#{follower.id}/relationships/create", {method: :post} %></p>
          <% end %>
        <% end %>

      </div>
    </article>
  <% end %>
</div>