<div class="has-text-centered">
  <figure class="image is-128x128 margin-x-auto">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
  <h2 class="is-size-4 has-text-weight-bold"><%= @user.name %></h2>
  <p><%= @user.email %></p>
  <% if @user.id == @current_user.id %>
    <%= link_to("編集", "/users/#{@user.id}/edit", class: "has-text-grey") %>
  <% end %>

  <% if @current_user != @user %>
    <% if @user.followed_by?(@current_user) %>
      <%= link_to "/users/#{@user.id}/relationships", method: :delete, remote: true do %>
        <button class="button is-rounded is-info is-normal">フォロー済み</button>
      <% end %>
    <% else %>
      <%= link_to "/users/#{@user.id}/relationships", method: :post, remote: true do %>
        <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
      <% end %>
    <% end %>
  <% end %>

  <div class="tabs is-centered is-boxed">
    <ul>
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li class="is-active"><%= link_to("フォロー一覧", "/users/#{@user.id}/follows") %></li>
      <li><%= link_to("フォロワー一覧", "/users/#{@user.id}/followers") %></li>
    </ul>
  </div>

  <% @followings.each do |following| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-96x96">
          <% if following.avatar.attached? %>
            <%= image_tag following.avatar, class: "is-rounded" %>
          <% else %>
            <img src="/blue_egg.jpg" class="is-rounded">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(following.name, "/users/#{following.id}", class: "has-text-black") %></strong>
          </p>
        </div>

        <% if @current_user != following %>
          <% if following.followed_by?(@current_user) %>
            <%= link_to "/users/#{following.id}/relationships", method: :delete, remote: true do %>
              <button class="button is-rounded is-info is-normal">フォロー済み</button>
            <% end %>
          <% else %>
            <%= link_to "/users/#{following.id}/relationships", method: :post, remote: true do %>
              <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </article>
  <% end %>
</div>