<div class="section">
  <div class="has-text-centered">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="box">
          <figure class="image is-96x96 margin-x-auto">
            <% if @user.avatar.attached? %>
              <%= link_to image_tag(@user.avatar, class: "is-rounded"), @user.avatar, class: "popup-link" %>
            <% elsif @user.image %>
              <%= link_to image_tag(@user.image, class: "is-rounded"), @user.image, class: "popup-link" %>
            <% else %>
              <%= link_to image_tag("/avatar.png", class: "is-rounded"), "/avatar.png", class: "popup-link" %>
            <% end %>
          </figure>
          <h2 class="is-size-4 has-text-weight-bold padding-y-2"><%= @user.name %></h2>

          <%# フォロー ajax %>
          <div id="follows_buttons_<%= @user.id %>">
            <%= render partial: "relationships/follow", locals: { user: @user } %>
          </div>

          <p class="margin-top-3 is-size-6">
            <%= @user.intro %>
          </p>

          <div class="margin-top-2">
            <% if @user == @current_user %>
              <%= link_to '編集', "/users/#{@user.id}/edit", class: "has-text-grey" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>




    <div class="tabs is-centered is-boxed">
      <ul>
        <li>
          <%= link_to("/users/#{@user.id}") do %>
            <div>
              <p class="heading has-text-dark is-size-6">投稿</p>
              <p class="title is-size-6"><%= @user.posts.count %></p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to("/users/#{@user.id}/likes") do %>
            <div>
              <p class="heading has-text-dark is-size-6">いいね</p>
              <p class="title is-size-6"><%= @user.like_posts.count %></p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to("/users/#{@user.id}/follows") do %>
            <div>
              <p class="heading has-text-dark is-size-6">フォロー</p>
              <p class="title is-size-6"><%= @user.followings.count %></p>
            </div>
          <% end %>
        </li>
        <li class="is-active">
          <%= link_to("/users/#{@user.id}/followers") do %>
            <div>
              <p class="heading has-text-dark is-size-6">フォロワー</p>
              <p class="title is-size-6"><%= @user.followers.count %></p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>





<div class="columns">
  <div class="column is-half is-offset-one-quarter">
  <% if @followers.count != 0 %>
    <div class="box">
    <% @followers.each do |follower| %>
      <article class="media">
        <figure class="media-left">
          <%= link_to "/users/#{follower.id}" do %>
            <p class="image is-64x64">
              <% if follower.avatar.attached? %>
                <%= image_tag follower.avatar, class: "is-rounded" %>
              <% elsif follower.image %>
                <%= image_tag follower.image, class: "is-rounded" %>
              <% else %>
                <img src="/avatar.png" class="is-rounded">
              <% end %>
            </p>
          <% end %>
        </figure>
        <div class="media-content">
          <div class="is-flex">
            <p class="title is-5">
              <%= link_to(follower.name, "/users/#{follower.id}", class: "has-text-black") %>
            </p>
            <%# フォロー ajax %>
            <div id="follows_buttons_<%= follower.id %>" class="margin-left-auto">
              <%= render partial: "relationships/follow", locals: { user: follower } %>
            </div>
          </div>

          <%= link_to "/users/#{follower.id}" do %>
            <div class="has-text-black">
              <%= follower.intro %>
            </div>
          <% end %>

        </div>
      </article>
    <% end %>
    </div>
  <% end %>
  </div>
</div>