<h1 class="users-heading">ユーザー一覧</h1>
<% @users.each do |user| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-96x96">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: "is-rounded" %>
        <% else %>
          <img src="/blue_egg.jpg" class="is-rounded">
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to(user.name, "/users/#{user.id}", class: "has-text-black") %></strong>
        </p>
      </div>

    <%# ログインしてる？ %>
    <% if @current_user %>

      <% if @current_user != user %>
        <% if user.followed_by?(@current_user) %>
          <%= link_to "/users/#{user.id}/relationships", method: :delete, remote: true do %>
            <button class="button is-rounded is-info is-normal">フォロー済み</button>
          <% end %>
        <% else %>
          <%= link_to "/users/#{user.id}/relationships", method: :post, remote: true do %>
            <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
          <% end %>
        <% end %>

      <% end %>

    <% else %>
      <%# ログインを促される宿命 %>
      <%= link_to "/users/#{user.id}/relationships", method: :post, remote: true do %>
        <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
      <% end %>

    <% end %>

    </div>
  </article>
<% end %>