<h1 class="users-heading">ユーザー一覧</h1>
<% @users.each do |user| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-96x96">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: "is-rounded" %>
        <% elsif user.image %>
          <%= image_tag user.image, class: "is-rounded" %>
        <% else %>
          <img src="/avatar.png" class="is-rounded">
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to(user.name, "/users/#{user.id}", class: "has-text-black") %></strong>
        </p>
      </div>

      <%# フォロー ajax %>
      <div id="follows_buttons_<%= user.id %>">
        <%= render partial: "relationships/follow", locals: { user: user } %>
      </div>

      <%# 管理者ユーザー %>
      <% if @current_user %>
        <% if @current_user.admin? && !(@current_user == user) %>
          <%= link_to "削除", "/users/#{user.id}", method: :delete %>
        <% end %>
      <% end %>

    </div>
  </article>
<% end %>