<div class="">ログイン</div>
<div class="form users-form">
  <div class="form-body">
  <% if @error_message %>
    <div class="form-error">
      <%= @error_message %>
    </div>
  <% end %>
  <%= form_with model: @user, url: "/login", local: true do |form| %>
    <!-- <p>メールアドレス</p>
    <input class="input" name="email" value="<%= @email %>">
    <p>パスワード</p>
    <input class="input" type="password" name="password" value="<%= @password %>">
    <br>
    <input class="button is-primary" type="submit" value="ログイン"> -->
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, value: @email, class: "" %>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, value: @password, class: "" %>
    <%= form.submit "ログイン", class: "button is-primary" %>
  <% end %>
  </div>
</div>

<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
<i class="fa fa-google"></i>
<br>
<%= link_to "Sign in with Github", "/auth/github", id: "aaa" %>
<i class="fa fa-github"></i>
