

<div class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box">
      <% if @error_message %>
        <div class="has-text-danger">
          <%= @error_message %>
        </div>
      <% end %>

      <p class="is-size-3 margin-bottom-3">ログイン</p>
      <%= form_with model: @user, url: "/login", local: true do |form| %>

        <div class="field">
          <%= form.label :email, "メールアドレス", class: "label" %>
          <div class="control">
            <%= form.text_field :email, value: @email, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :password, "パスワード", class: "label" %>
          <div class="control">
            <%= form.password_field :password, value: @password, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= form.submit "ログイン", class: "button is-info" %>
          </div>
        </div>

      <% end %>

    </div>
    </div>
  </div>
</div>




<div class="has-text-centered">

  <%= link_to "/auth/google_oauth2" do %>
    <button class="button is-danger is-outlined">
      <span class="icon">
        <i class="fa fa-google"></i>
      </span>
      <span>Googleでログイン</span>
    </button>
  <% end %>
  <%= link_to "/auth/github" do %>
    <button class="button is-black is-outlined">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
      <span>GitHubでログイン</span>
    </button>
  <% end %>

</div>