<div class="section">
<div class="has-text-centered">
  <div class="columns">
  <div class="column is-half is-offset-one-quarter">
  <div class="box">
    <figure class="image is-128x128 margin-x-auto">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "is-rounded" %>
      <% elsif @user.image %>
        <%= image_tag @user.image, class: "is-rounded" %>
      <% else %>
        <img src="/avatar.png" class="is-rounded">
      <% end %>
    </figure>
    <h2 class="is-size-4 has-text-weight-bold"><%= @user.name %></h2>
    <p><%#= @user.email %></p>

    <%# フォロー ajax %>
    <div id="follows_buttons_<%= @user.id %>">
      <%= render partial: "relationships/follow", locals: { user: @user } %>
    </div>

    <p>
      <%= @user.intro %>
    </p>

    <%# これはidを比較する必要はあるのか？ないよな？ %>
    <%# if @user.id == @current_user.id %>
    <% if @user == @current_user %>
      <%= link_to '編集', "/users/#{@user.id}/edit", class: "has-text-grey" %>
    <% end %>
  </div>
  </div>
  </div>




  <div class="tabs is-centered is-boxed">
    <ul>
      <li class="is-active">
        <%#= link_to("投稿", "/users/#{@user.id}") %>
        <%= link_to("/users/#{@user.id}") do %>
          <div>
            <p class="heading has-text-dark is-size-6">投稿</p>
            <p class="title is-size-6"><%= @user.posts.count %></p>
          </div>
        <% end %>
      </li>
      <li>
        <%#= link_to("いいね!", "/users/#{@user.id}/likes") %>
        <%= link_to("/users/#{@user.id}/likes") do %>
          <div>
            <p class="heading has-text-dark is-size-6">いいね</p>
            <p class="title is-size-6"><%= @user.like_posts.count %></p>
          </div>
        <% end %>
      </li>
      <li>
        <%#= link_to("フォロー一覧", "/users/#{@user.id}/follows") %>
        <%= link_to("/users/#{@user.id}/follows") do %>
          <div>
            <p class="heading has-text-dark is-size-6">フォロー</p>
            <p class="title is-size-6"><%= @user.followings.count %></p>
          </div>
        <% end %>
      </li>
      <li>
        <%#= link_to("フォロワー一覧", "/users/#{@user.id}/followers") %>
        <%= link_to("/users/#{@user.id}/followers") do %>
          <div>
            <p class="heading has-text-dark is-size-6">フォロワー</p>
            <p class="title is-size-6"><%= @user.followers.count %></p>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <% @user.posts.each do |post| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-96x96">
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar, class: "is-rounded" %>
          <% elsif post.user.image %>
            <%= image_tag post.user.image, class: "is-rounded" %>
          <% else %>
            <img src="/avatar.png" class="is-rounded">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(post.user.name, "/users/#{post.user.id}", class: "has-text-black") %></strong>
            <br>
            <%= link_to(post.content, "/posts/#{post.id}", class: "has-text-dark") %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <span class="level-item icon is-small has-text-info"><i class="fa fa-reply"></i></span><%= post.comments.count %>

            <%# いいね ajax %>
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post } %>
            </div>

          </div>
        </nav>
      </div>
    </article>
  <% end %>
</div>
</div>