



<div class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box">
      <p class="is-size-3 margin-bottom-3">投稿の編集</p>
      <% @post.errors.full_messages.each do |message| %>
        <div class="has-text-danger">
          <%= message %>
          <%# すみませんが、画像を選択し直してください %>
        </div>
      <% end %>
      <%= form_with model: @post, url: "/posts/#{@post.id}", method: :put, local: true do |form| %>
        <div class="field">
          <%#= form.label :name, "ユーザー名", class: "label" %>
          <%= form.label :content, "投稿内容", class: "label" %>
          <div class="control">
            <%#= form.text_field :name, value: @user.name, class: "input" %>
            <%= form.text_area :content, value: @post.content, class: "textarea" %>
          </div>
        </div>

          <div class="field">
            <%= form.label :photo, "投稿画像(任意)", class: "label" %>
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <%= form.file_field :photo, class: "file-input", id: :book_img %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      ファイルを選択
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <%# 画像プレビュー機能あり 1101 img_prevをidからclassに変え、複数つけた %>
          <figure class="image is-256x256 margin-bottom-3">
            <% if @post.photo.attached? %>
              <%= image_tag @post.photo, class: " img_prev", id: "" %>
            <% else %>
              <img src="/baloon.jpg" class="img_prev">
            <% end %>
          </figure>

        <div class="field">
          <div class="control">
            <%= form.submit "保存", class: "button is-info" %>
          </div>
        </div>

      <% end %>

    </div>
    </div>
  </div>
</div>

<script>
</script>
