<div class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box">
      <p class="is-size-3 margin-bottom-3">投稿する</p>
      <% @post.errors.full_messages.each do |message| %>
        <div class="has-text-danger">
          <%= message %>
        </div>
      <% end %>
      <%= form_with model: @post, url: "/posts", local: true do |form| %>
        <div class="field">
          <%= form.label :content, "投稿内容", class: "label" %>
          <div class="control">
            <%= form.text_area :content, value: @post.content, class: "textarea" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :photo, "投稿画像(任意)", class: "label" %>
          <div class="control">
            <div id="file-js" class="file has-name is-boxed">
              <label class="file-label">
                <%= form.file_field :photo, class: "file-input", id: :fileId %>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    ファイルを選択
                  </span>
                </span>
                <span class="file-name">
                  選択されていません
                </span>
              </label>
            </div>
          </div>
        </div>


        <div class="field">
          <div class="control">
            <%= form.submit "投稿", class: "button is-info" %>
          </div>
        </div>

      <% end %>

    </div>
    </div>
  </div>
</div>

<script>
  // file inputにファイル名を反映
  document.getElementById("fileId").onchange = () => {
    if (document.getElementById("fileId").files.length > 0) {
      document.querySelector('#file-js .file-name').textContent = document.getElementById("fileId").files[0].name;
    }
  }
</script>
