<div class="container">
  <h1 class="form-heading">投稿する</h1>

  <%# まぁエラーメッセージ、form_withの中でもええけど %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <%= form_with model: @post, url: "/posts", local: true do |form| %>
    <%= form.label :content, "投稿内容" %>
    <%= form.text_area :content, value: @post.content, class: "" %>
    <%= form.label :photo, "投稿画像(任意)" %>
    <%= form.file_field :photo, class: "" %>
    <%= form.submit "投稿", class: "button is-primary" %>
  <% end %>

  <!--
  <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <textarea name="content" class="textarea"><%= @post.content %></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>
  <% end %>
  -->

</div>