
<div class="box">


  <figure class="image is-128x128">
    <% if @user.avatar.attached? %>
      <%# Magnific Popupでクリックしたらポップアップ画像が表示されるようにした %>
      <%= link_to image_tag(@user.avatar, class: "is-rounded"), @user.avatar, class: "popup-link" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
    <%= link_to @user.name, "/users/#{@user.id}" %>

  <p><%= @post.content %></p>
  <div class="post-time">
    <%= @post.created_at %>
  </div>

  <% if @current_user != @user %>
    <% if @user.followed_by?(@current_user) %>
      <%= link_to "/users/#{@user.id}/relationships/destroy", method: :post, remote: true do %>
        <%# フォロー済み %>
        <button class="button is-rounded is-info is-normal">フォロー済み</button>
      <% end %>
    <% else %>
      <%= link_to "/users/#{@user.id}/relationships/create", method: :post, remote: true do %>
        <%# フォローする %>
        <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
      <% end %>
    <% end %>
  <% end %>

  <% if Like.find_by(user_id: @current_user.id, post_id: @post.id ) %>
    <%= link_to "/likes/#{@post.id}/destroy", method: :post, remote: true do %>
      <span class="fa fa-heart like-btn-unlike has-text-danger"></span>
    <% end %>
  <% else %>
    <%= link_to "/likes/#{@post.id}/create", method: :post, remote: true do %>
      <span class="fa fa-heart like-btn has-text-grey"></span>
    <% end %>
  <% end %>
  <%= @likes_count %>

  <div class="post-menus">
    <% if @post.user_id == @current_user.id %>
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
    <% end %>
  </div>


</div>

<%= form_with model: [@post, @comment], url: "/posts/#{@post.id}/comments/create", local: true do |form| %>
  <p>
    <%= form.label :content, "コメント" %>
    <%= form.text_field :content %>
  </p>
  <%= form.submit %>
<% end %>

<div class="box">
  <% @comments.each do |comment| %>
    <p><span>名前: </span><%= link_to comment.user.name, "/users/#{comment.user.id}" %></p>
    <p><span>コメント内容： </span><%= comment.content %></p>
    <% if comment.user_id == @current_user.id %>
      <%= link_to("削除", "/posts/#{@post.id}/comments/#{comment.id}/destroy", method: "post") %>
    <% end %>
    <hr>
  <% end %>
</div>
