
<div class="box">


  <figure class="image is-128x128">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
    <%= link_to @user.name, "/users/#{@user.id}" %>

  <p><%= @post.content %></p>
  <div class="post-time">
    <%= @post.created_at %>
  </div>

  <% if @current_user != @user %>
    <% if @user.followed_by?(@current_user) %>
      <p><%= link_to 'フォロー済み', "/users/#{@user.id}/relationships/destroy", {method: :post} %></p>
    <% else %>
      <p><%= link_to 'フォローする', "/users/#{@user.id}/relationships/create", {method: :post} %></p>
    <% end %>
  <% end %>

  <% if Like.find_by(user_id: @current_user.id, post_id: @post.id ) %>
    <%#= link_to 'いいね！済み', "/likes/#{@post.id}/destroy", {method: :post} %>
    <%= link_to "/likes/#{@post.id}/destroy", {method: :post} do %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
  <% else %>
    <%#= link_to 'いいね！', "/likes/#{@post.id}/create", {method: :post} %>
    <%= link_to "/likes/#{@post.id}/create", {method: :post} do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
  <% end %>
  <%= @likes_count %>

  <div class="post-menus">
    <% if @post.user_id == @current_user.id %>
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
    <% end %>
  </div>


</div>

<%= form_with model: [@post, @comment], url: "/posts/#{@post.id}/comments/create", local: true do |form| %>
  <p>
    <%= form.label :content, "コメント" %>
    <%= form.text_field :content %>
  </p>
  <%= form.submit %>
<% end %>

<div class="box">
  <% @comments.each do |comment| %>
    <p><span>名前: </span><%= link_to comment.user.name, "/users/#{comment.user.id}" %></p>
    <p><span>コメント内容： </span><%= comment.content %></p>
    <% if comment.user_id == @current_user.id %>
      <%= link_to("削除", "/posts/#{@post.id}/comments/#{comment.id}/destroy", {method: "post"}) %>
    <% end %>
    <hr>
  <% end %>
</div>
