
<div class="box">


  <figure class="image is-128x128">
    <% if @user.avatar.attached? %>
      <%# Magnific Popupでクリックしたらポップアップ画像が表示されるようにした %>
      <%= link_to image_tag(@user.avatar, class: "is-rounded"), @user.avatar, class: "popup-link" %>
    <% elsif @user.image %>
      <%= image_tag @user.image, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
  <%= link_to @user.name, "/users/#{@user.id}" %>

  <p><%= @post.content %></p>
  <div class="post-time">
    <%= @post.created_at %>
  </div>

  <%# フォロー ajax %>
  <div id="follows_buttons_<%= @user.id %>">
    <%= render partial: "relationships/follow", locals: { user: @user } %>
  </div>

  <%# いいね ajax %>
  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>

  <%# ログインしてる？ %>
  <% if @current_user %>
    <div class="post-menus">
        <% if @post.user_id == @current_user.id %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}", method: :delete) %>
        <% end %>
    </div>
  <% end %>


</div>


<div class="box">
  <% @comments.each do |comment| %>

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <% if comment.user.avatar.attached? %>
            <%= image_tag comment.user.avatar, class: "is-rounded" %>
          <% else %>
            <img src="/blue_egg.jpg" class="is-rounded">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to(comment.user.name, "/users/#{comment.user.id}", class: "has-text-black") %></strong>
            <br>
            <%= comment.content %>
          </p>
        </div>

        <%# ログインしてる？ %>
        <% if @current_user %>
          <% if comment.user_id == @current_user.id %>
            <%= link_to("削除", "/posts/#{@post.id}/comments/#{comment.id}", method: :delete, remote: true) %>
          <% end %>
        <% end %>
      </div>
    </article>

  <% end %>
</div>

<%# ログインしてる？ %>
<% if @current_user %>
  <%= form_with model: [@post, @comment], url: "/posts/#{@post.id}/comments", local: true do |form| %>
    <p>
      <%= form.label :content, "コメント" %>
      <%= form.text_field :content %>
    </p>
    <%= form.submit %>
  <% end %>
<% end %>