<div class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="card">
        <div class="header padding-x-4 padding-top-4">
          <div class="media">
            <div class="media-left">
              <%= link_to "/users/#{@user.id}" do %>
              <figure class="image is-64x64">
                <% if @user.avatar.attached? %>
                  <%#= link_to image_tag(@user.avatar, class: "is-rounded"), @user.avatar, class: "popup-link" %>
                  <%= image_tag @user.avatar, class: "is-rounded" %>
                <% elsif @user.image %>
                  <%= image_tag @user.image, class: "is-rounded" %>
                <% else %>
                  <img src="/avatar.png" class="is-rounded">
                <% end %>
              </figure>
              <% end %>
            </div>
            <div class="media-content margin-top-3">
              <p class="title is-4"><%= link_to @user.name, "/users/#{@user.id}", class: "has-text-black has-text-weight-normal" %></p>
            </div>

            <%# フォロー ajax %>
            <div id="follows_buttons_<%= @user.id %>" class="margin-top-2">
              <%= render partial: "relationships/follow", locals: { user: @user } %>
            </div>

          </div>
        </div>
        <% if @post.photo.attached? %>
          <div class="card-image padding-top-4">
            <figure class="image is-4by3">
              <%= link_to image_tag(@post.photo, class: ""), @post.photo, class: "popup-link" %>
            </figure>
          </div>
        <% end %>
        <div class="card-content">


          <div class="content is-size-4" style="word-wrap: break-word;">
              <%#= simple_format(h(@post.content)) %>
              <%# 改行＆リンク反映 %>
              <%= simple_format(text_url_to_link(h(@post.content)).html_safe) %>
          </div>


          <div class="is-flex">
            <time><%= @post.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H時%M分") %></time>
            <%# いいね ajax %>
            <div id="likes_buttons_<%= @post.id %>" class="margin-left-auto margin-right-2">
              <%= render partial: 'likes/like', locals: { post: @post } %>
            </div>
            <div>
              <a href="#comment_form">
                <i class="fa fa-commenting-o"></i>
              </a>
              <%= @post.comments.count %>
            </div>
          </div>



          <%# ログインしてる？ %>
          <% if @current_user %>
            <div class="margin-top-2">
              <% if @post.user_id == @current_user.id %>
                <%= link_to("編集", "/posts/#{@post.id}/edit", class: "has-text-grey") %>
                <%= link_to("削除", "/posts/#{@post.id}", method: :delete, class: "has-text-danger") %>
                <% end %>
            </div>
          <% end %>

        </div>

      </div>





      <div class="margin-y-5">
        <p class="is-size-5 margin-bottom-3">コメント一覧</p>
        <%# コメント一覧 %>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
      </div>

      <div class="box">
        <%# ログインしてる？ %>
        <% if @current_user %>
          <%# コメント入力欄 %>
          <div id="comment_form">
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
          </div>
        <% else %>
        <div class="field">
          <label for="dummy" class="label">コメント</label>
          <div class="control">
            <textarea id="dummy" class="textarea" rows="2" placeholder="コメントを入力する" ></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= link_to 'コメントする', "/posts/#{@post.id}/comments", method: :post, class: "button is-outlined is-small" %>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

