
<div class="box">


  <figure class="image is-128x128">
    <% if @user.avatar.attached? %>
      <%# Magnific Popupでクリックしたらポップアップ画像が表示されるようにした %>
      <%= link_to image_tag(@user.avatar, class: "is-rounded"), @user.avatar, class: "popup-link" %>
    <% elsif @user.image %>
      <%= image_tag @user.image, class: "is-rounded" %>
    <% else %>
      <img src="/blue_egg.jpg" class="is-rounded">
    <% end %>
  </figure>
  <%= link_to @user.name, "/users/#{@user.id}" %>

  <p><%= @post.content %></p>
  <% if @post.photo.attached? %>
    <%= link_to image_tag(@post.photo, class: "is-rounded"), @post.photo, class: "popup-link" %>
    <%#= image_tag @post.photo, class: "is-rounded" %>
  <% end %>
  <div class="post-time">
    <%= @post.created_at %>
  </div>

  <%# フォロー ajax %>
  <div id="follows_buttons_<%= @user.id %>">
    <%= render partial: "relationships/follow", locals: { user: @user } %>
  </div>

  <%# いいね ajax %>
  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>

  <%# ログインしてる？ %>
  <% if @current_user %>
    <div class="post-menus">
        <% if @post.user_id == @current_user.id %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}", method: :delete) %>
        <% end %>
    </div>
  <% end %>


</div>

<%# コメント一覧 %>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>



<%# ログインしてる？ %>
<% if @current_user %>

  <%# コメント入力欄 %>
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>



<% else %>
  <label for="dummy">コメント</label>
  <input id="dummy"/>
  <%= link_to 'Create Comment', "/posts/#{@post.id}/comments", method: :post, class: "button" %>
<% end %>