<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <header>
    <nav class="is-flex padding-x-3 has-background-primary padding-y-3">
      <div class="">
        <% if @current_user %>
          <%#= link_to "TweetApp", "/posts/index", class: "has-text-white has-text-weight-bold" %>
          <%= link_to "TweetApp", "/posts", class: "has-text-white has-text-weight-bold" %>
        <% else %>
          <%= link_to("TweetApp", "/", class: "has-text-white has-text-weight-bold" ) %>
        <% end %>
      </div>

      <div class="margin-left-auto">
        <%# ログインしてる？ %>
        <% if @current_user %>
          <%= link_to @current_user.name, "/users/#{@current_user.id}", class: "has-text-white margin-x-1" %>
          <%#= link_to("投稿一覧", "/posts/index", class: "has-text-white margin-x-1") %>
          <%= link_to("投稿一覧", "/posts", class: "has-text-white margin-x-1") %>
          <%= link_to("新規投稿", "/posts/new", class: "has-text-white margin-x-1") %>
          <%= link_to("ユーザー一覧", "/users", class: "has-text-white margin-x-1") %>
          <span class=" margin-x-1">
            <%= link_to("ログアウト", "/logout", {method: :delete}) %>
          </span>
        <% else %>
          <%# これどうしよう。ログイン時も表示させるか迷うなぁ %>
          <%= link_to("TweetAppとは", "/about", class: "has-text-white margin-x-1") %>
          <%= link_to("投稿一覧", "/posts", class: "has-text-white margin-x-1") %>
          <%= link_to("ユーザー一覧", "/users", class: "has-text-white margin-x-1") %>
          <%= link_to("新規登録", "/signup", class: "has-text-white margin-x-1") %>
          <%= link_to("ログイン", "/login", class: "has-text-white margin-x-1") %>
        <% end %>
      </div>

    </nav>
    </header>
    <% if flash[:notice] %>
      <div class="flash padding-y-3 has-text-centered has-background-orange has-text-white">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:danger] %>
      <div class="flash padding-y-3 has-text-centered has-background-danger has-text-white">
        <%= flash[:danger] %>
      </div>
    <% end %>
    <%= yield %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Magnific Popup -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- 画像がクリックされた時にポップアップの表示 -->
    <script type="text/javascript">
      // 画像がクリックされた時にポップアップの表示
      $('.popup-link').magnificPopup({
        type: 'image'
      });
      $(function(){
        $("#input-text").on("keyup", function() {
          let countNum = String($(this).val().length);
          if (countNum <= 140){
            $("#counter").text(countNum + " / 140文字");
          } else {
            $("#counter").text("制限文字数を超えています").css("color","red");
          }
        });
      });
      // 画像を選択した際のプレビュー機能
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $('.img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#book_img").change(function(){
          readURL(this);
        });
      });
    </script>

  </body>
</html>
